<div>
  <h5>Lists House</h5>  
  <p>
    <!--Houses that were found are listed-->
    <select name="miselect" [(ngModel)]="selectHouse" (ngModelChange)="updatestudent()">
    <option [value]="item" *ngFor="let item of listHouse" [ngValue]="item">
      {{item}}</option>
    </select> 
   </p>

<!--create filter-->
<div class="row">
  <div class="col search">
    <div class="form-group search">
      <input type="text" class="form- control" name= "filter" placeholder="Search" [(ngModel)]="filter">
    </div>
   
  </div>
 
  <div class=" order ">
    <button  (click)="getListOrderedMember()" (ngModelChange)="updatestudent()">OrderName</button>
  </div>

</div>


<div class="row">
  <div class="col">
  <!-- Table members in house select-->
  <table class="table table-striped" >
    <thead>
      <tr>
        <!--Create Columns -->
        <th> N°</th>
        <th  > Name</th>
        <th> Gender </th>
        <th> Ancestry </th>
        <th> HairColour </th>
        <th> Image </th>
      </tr>
  
    </thead>
    <tbody>
      <tr *ngFor= 'let studen of listStudent | filterSearch: filter; let count=index' >
        <td >{{count+1}}</td>   <!--  count Column -->
        <td >{{studen.name}}</td>  <!-- Name Column -->
        <td>{{studen.gender}}</td>   <!-- Gender Column -->
        <td>{{studen.ancestry}}</td>  <!-- Ancestry Column -->
        <td>{{studen.hairColour}}</td>  <!-- HairColour Column -->
        <td><img src="{{studen.image}}"  width="100"></td>    <!-- Image Column -->
      </tr>
   
    </tbody>  
    </table>
  </div>
  
  </div>
  <div *ngIf="listStudent.length===0 || selectHouse===''">
    <div>
      <h4 >No house selected</h4>
    </div>
  
  </div>

</div>




