<div>
  <mat-form-field appearance="fill">
    <!--Houses that were found are listed-->
    <mat-label>List House</mat-label>
    <mat-select [formControl]="animalControl" required [(ngModel)]="selectHouse" (ngModelChange)="updatestudent()">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let item of listHouse" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="animalControl.hasError('required')">Choose a house</mat-error>
  </mat-form-field>
</div>

<mat-form-field style="text-align: center;">
  <!-- Look for the filter that is entered-->
  <mat-label>Search</mat-label>
  <input matInput placeholder="Search" (keyup)="searchFilter($event)">
</mat-form-field>
<div>
  <!-- Table members in house select-->
  <table mat-table [dataSource]="dataSource" >
  
    <!--  count Column -->
    <ng-container matColumnDef="n">
      <th mat-header-cell *matHeaderCellDef > N° </th>
      <td mat-cell *matCellDef="let element; let indice=index "> {{indice+1}}</td>      
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>
  
    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}}</td>
    </ng-container>
  
    <!-- Ancestry Column -->
    <ng-container matColumnDef="ancestry">
      <th mat-header-cell *matHeaderCellDef> Ancestry </th>
      <td mat-cell *matCellDef="let element"> {{element.ancestry}} </td>
    </ng-container>
  
    <!-- HairColour Column -->
    <ng-container matColumnDef="hairColour">
      <th mat-header-cell *matHeaderCellDef> HairColour </th>
      <td mat-cell *matCellDef="let element"> {{element.hairColour}} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element">
        <img width="80" src="{{element.image}}">
       </td>
    </ng-container>
   
    <!--Columns -->
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
<div class="col-lg-6 offset-lg-3" *ngIf="listStudent.length===0 || selectHouse===''">
  <div class="card mt-3">
    <h4 style="text-align: center;">No house selected</h4>
  </div>

</div>




